body {
    font-family: sans-serif;
    color: #9B9B9B;
    background-color: #B8E986;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: absolute;
    width: 835px;
    background: white;
    border-radius: 24px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
}

h1 {
    margin: 0;
}

h2, h3 {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

h3 {
    margin: 0;
    margin-top: 16px; 
}

.input {
    display: inline-block;
    margin: 0;
    padding: 40px 50px;
    width: 50%;
}

.hexTextInput {
    width: 120px;
}

.alphaTextInput {
    width: 60px;
}

input[type="text"] {
    display: block;
    margin: 6px 0;
    padding: 10px 20px;
    font-size: 14px;
    color: black;
    border: 3px #D8D8D8 solid;
    border-radius: 50px;
}

.output {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 50%;
}

.result {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    box-shadow: 0 2px 6px #000;
    background: #956453;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2em;
}

.output {
    margin-bottom: 5em;
    padding: 1em;
    color: #fff;
    border-bottom: 2px dashed #42595E;
    text-align: center;
    text-transform: uppercase;
    font-size: .8em;
    text-shadow: 0 -1px 0 #2b3e42;
    color: #475d62;
}

.sp-container {
    margin-top: 12px;
    background: none;
    border: none;
}

.sp-picker-container {
    width: 240px;
    padding-left: 0;
    border: none;
}

.sp-color, .sp-hue {
    border: none;
}

.sp-alpha-inner {
    border: none;
}